h1 {
    color: red;
    font-size: 4rem;
}
p{
    color: black;
    font-size: 2rem;
}
/*esta seria la palabra clave para poner condiciones y estilos para los casos que le especifiquemos, esta "print" que afecta cuando imprimamos, esta "screen"que afecta la pantalla, "speech" no se usa mucho y el "all" que afecta a todos y no hace falta ponerlo, si no ponemos ninguna de las opciones esta seria la por defecto*/

/*@media print{
    h1{
        color: blue;
    }
}*/
/*@media all and (max-widht: 576px)  esta seria una forma de hacerlo tambien mas especificada pero la de abajo es lo mismo, esta seria la forma completa. Las mediaqueries se suelen concatenar con condiciones, en este caso el tamaño de la pantalla, si la pantalla es menor a este tamaño tendra un color y si lo pasa tendra otro*/
@media (min-widht: 576px){
    h1{
        color: green;
    }
}
/*podemos definir varios "@media" para dar diferentes estilos en diferentes tamaños de la pagina (en vez de el "min-widht" podemos usar el "min-heigt" o "max-heigt" pero esta no se suele usar mucho*/
@media (min-widht: 995px){
    h1{
        color: blue;
    }
}
/*tambien podemos definir un estilo por si la pantalla esta en vertical(como en los telefonos o tablets que se puede cambiar la horientacion de la pantalla) landscape seria para la pantalla vertical y portrait la normal horizontal. Y podemos anidar diferentes condiciones como vemos en el ejemplo de abajo*/
@media (orientation: landscape) and (min-heigt: 400px){
    p{
        color: brown;
    }
}
/*de la manera de arriba con el "and" se tendrian que cumplir todas las condiciones para que se aplique el estilo, hay otra forma de anidar para que se aplique el estilo si solo una se cumple y es unsando una "," en ves de el "and" ej= @media (min-heigt: 300px)*/